name: Test Build
on:
  pull_request:
  workflow_dispatch:

jobs:
  test_build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: configure python
        uses: actions/setup-python@v2

      - name: checkout tunebook
        uses: actions/checkout@v2

      - name: install dependencies
        run: | 
          pip install sphinx
          pip install sphinx_rtd_theme
          sudo apt install abcm2ps

      - name: build docs
        run: |
          make clean html